.d-BoxResult {
    width:100%;
    height: auto;
    background-color: white;
    margin: 0;
    margin-bottom: 40px;
    padding: 5px;
    border-radius:10px;  
    transform: translateZ(0);
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
}