ion-content
{
}
 /////////////// slides /////////////////////
 ion-slides{
    background-color: #fff;
    height:auto;
    margin-top:5px; 
    margin-bottom:-30px;
    border: solid 0px white;
    border-radius:10px; 
    transform: translateZ(0);
    -webkit-box-shadow: 0 2px 2px 0px #DDDDDD;
    box-shadow: 0 2px 2px 0px #DDDDDD;
    overflow: hidden;
  }
  ion-slides .s-img
  {
    width: auto !important;
    max-width: auto !important;
    height:auto !important;
    max-height: auto !important;
    border-radius:10px; 
    margin-top:1px;
      
  }